pre {
    background-color: rgb(133, 124, 26);
    font-family: "Papyrus";
    font-size: large;
    color: rgb(255, 255, 255);
} 
h1 {
    font-family: "Papyrus";
    background-color: rgb(166, 255, 23);
    font-size: 45px;
}
body {
    background-color: rgb(0, 0, 0);
}





