head { 
       background-color: rgb(255, 236, 180);
       color:darkgoldenrod;
       font-family: Papyrus, fantasy; font-size: 24px; font-style: normal;
       font-variant: normal;
       font-size: 3cm;
       text-align: center;
       margin-left: 100px;
       margin-right: 100px;}