
body { 
  background-color: rgb(0, 0, 0);
  color:rgb(184, 134, 11) ;
  font-family: Papyrus, fantasy; font-size: 24px; font-style: normal;
  font-variant: normal; font-weight: 700; line-height: 40.0px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
    font-size: 400%;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    
    font-size: 90%;
}

a { 
     color: goldenrod;
     border: 20% solid goldenrod;
     padding: 2px 10%;
     text-align: center;
     text-decoration: none;
     display: inline-block;
 }