
p { 
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Ftemples-hd&psig=AOvVaw1tPMR640ndVZo2JNk5KI2O&ust=1651633281554000&source=images&cd=vfe&ved=0CAwQjRxqGAoTCLCyvNOrwvcCFQAAAAAdAAAAABDoAw');
}

body { 
  background-color: antiquewhite;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
}

h1 {
    color: black;
    text-align: center;
}

